[Unit]
Description=Yet Another Dialog panel with App buttons
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=${image.user}
WorkingDirectory=/home/${image.user}
Environment="DISPLAY=${image.display}"
ExecStart=/usr/local/bin/yad-panel
Restart=always
RestartSec=3s
KillMode=process
